<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container"> <span class="navbar-brand">
  <i class="fa fa-home"></i>Animation
</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="" class="nav-link" [routerLink]="['/open-close']" routerLinkActive="active">Open Close</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link" [routerLink]="['/enter-leave']" routerLinkActive="active">Enter Leave</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link" [routerLink]="['/inc-dec']" routerLinkActive="active">Inc Dec</a>
    </li>
  </ul>
</div>
</nav>
<div class="container pt-4">
<router-outlet></router-outlet>

</div>